h1 {
  margin: 0px;
}

@keyframes deltarune-bg {
  from {background-position: 0px 0px;}
  to {background-position: 40px 40px;}
}

body {
  font-family: courier;
  color: #fff;
  
  background-size: 40px 40px;
  background-color: black;
  background-image:
    linear-gradient(to right, #0c0 1px, transparent 1px),
    linear-gradient(to bottom, #0c0 1px, transparent 1px);
  animation-name: deltarune-bg;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#margin {
 /* margin: 25px 100px 25px 100px; */
}

#box {
 background: black;
 padding: 10px 20px 10px 20px;
 border: 5px solid white;
 margin: 15px 15px 15px 15px;
 box-shadow: 10px 10px #050;
}

#horizontal {
 display: flex;
 flex-direction: row;
}

a:link {
  color: #0f0;
}

a:visited {
  color: #0d0;
}

a:hover {
  color: #090;
}

a:active {
  color: #fff;
}
